/* Style footer principal */

#footer{
    border-bottom: solid 1px var(--color2);
    border-top: solid 1px var(--color2);
     
}

#texteFooter{
    margin: 5px auto;
    text-align: center;
    color: white;
}

img{
    width: 27px;
    margin: auto;
}