@import url('https://fonts.googleapis.com/css?family=Ubuntu:500&display=swap');

/* Paramètres Globaux MediaCritic */

html{
    --background: white;
    --block: #E3DFDA;
    --color: white;
    --color2 : black;
}

html[data-theme='dark']{
    --background: black;
    --block: #1D1C1C;
    --color: black;
    --color2 : white;
}

body{
    font-family: 'Ubuntu';
    margin: 0;
    padding: 0;
    background: var(--background);
}

#grid{
    display: grid;
    grid-template-rows: auto;
}

/* Main */

#main{
    display: grid;
    grid-template-rows: auto;
    padding: 0px 10px;
    padding-bottom: 20px;
    padding-top: 80px;
}