/* Style du menu principal */

#header{
	width: 100%;
	position: fixed;
	z-index: 1;
	border-bottom: solid 1px var(--color2);
}

#titleMain{
	font-size: 24px;
	font-weight: bold;
	margin-right: 20px;
}

#cookie{
	background: var(--color);
	padding: 10px;
}

/* Checked thème et recherche */

#switch{
	display: none;
}

#toggle{
    margin: auto 5px;
	cursor: pointer;
	text-indent: -9999px;
	width: 52px;
	height: 27px;
	background: grey;
	float: right;
	border-radius: 100px;
	position: relative;
}

#toggle:after{
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + #toggle{
	background: #222;
}

input:checked + #toggle:after{
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

#toggle:active:after{
	width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after{
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

#searchBar{
	margin-right: 5px;
	padding: 10px 20px;
	border: solid 1px black;
	border-radius: 20px;
	width: 230px;
}

#select{
	margin-right: 5px;
	border: solid 1px black;
	text-align: center;
	height: 30px;
	border-radius: 10px;
}

#loupe{
	border-radius: 20px;
	border: none;
}

#loupe:hover{
	background-color: white;
}

/* Cookie style */

#titreCookie{
	color: var(--color2);
}

#texteCookie{
	margin: 10px 0;
	padding: 0;
	color: var(--color2);
}

#compris{
	border: solid 2px var(--color2);
	border-radius: 10px;
	background: var(--color);
	color: var(--color2);
}

@media screen and (max-width: 1199px){
	#searchAll{
		flex-flow: wrap column;
		margin-top: 20px;
	}
	#searchBar{
		margin: auto;
	}
	#select{
		margin: 10px auto;
	}
	#loupe{
		margin: auto;
	}
}