/* Message d'information et filtre */

#main{
    width: 70%;
    margin: auto;
}

#partieun{
    margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column wrap;
    border: solid 1px var(--color2);
    border-radius: 10px;
    padding: 5px;
    background: var(--block);
}

.alert{
    margin: auto;
    padding: 0;
}

.messagealert{
    font-size: 18px;
    padding: 5px;
    margin: 0;
    background: var(--color);
    color: var(--color2);
    border: solid 1px var(--color2);
    border-radius: 10px;
    text-align: center;
}

.messagealert > span{
    color: #FFC107;
}

.filter{
    margin: auto;
    text-align: center;
}

.texteFilter{
    text-align: center;
    margin: 5px;
    padding: 0;
    color: var(--color2);
}

#coche{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.coche{
    margin: 3px auto;
    border-radius: 15px;
    border: solid 1px var(--color2);
    color: var(--color2);
    background: var(--color);
    font-size: 18px;
}

/* Le contenu principal avec les blocks */

#items{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.block{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    width: 260px;
    min-height: 500px;
    margin: auto 30px;
    margin-top: 40px;
    background: var(--block);
    padding: 10px;
    border: solid 1px var(--color2);
}

/* Les informations dans les blocks */

#noresult{
    font-size: 30px;
    font-style: italic;
    color: var(--color2);
    margin: 15px auto;
    text-align: center;
}

.category{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: var(--color2);
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    font-size: 15px;
}

.category > span{
    margin: auto 0;
}

.top{
    margin: auto 5px;
    width: 27px;
}

.modifier{
    margin: 0px auto;
}

.modifier > input{
    font-size: 13px;
    border-radius: 5px;
    border: solid 1px var(--color2);
    background: var(--color);
    color: var(--color2);
}

.image > img{
    width: 190px;
    border: solid 1px var(--color2);
    margin: auto;
    text-align: center;
    transition: .3s ease-in-out;
}

.image{
    margin: 5px auto;
    text-align: center;
}

.image > img:hover{
    opacity: .7;
}

.title_item{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 19px;
    color: var(--color2);
    text-align: center;
    margin: 5px auto;
}

.realisateur{
    color: var(--color2);
    margin: 5px auto;
    text-align: center;
    font-style: italic;
    font-size: 14px;
}

.noconnect{
    margin: 7px auto;
    padding: 0;
    text-align: center;
    font-size: 14px;
    font-style: italic;
    color: orangered;
}

/* Stars */

.stars{
    text-align: center;
    margin: 5px auto;
    direction: rtl;
}

.star{
    background: url('/favicon.ico') no-repeat;
    background-size: 23px;
    width: 23px;
    cursor: pointer;
    border: none;
    filter: grayscale(1);
}

.star:hover ~ .star,
.star:hover{
    filter: grayscale(0);
}

/* Note */

.infos{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column wrap;
}

.moyenneetnb{
    margin: 5px auto;
    padding: 4px;
    background: var(--color);
    color: var(--color2);
    border-radius: 5px;
    font-size: 18px;
    border: solid 2px var(--color2);
}

.ok{
    margin: auto;
    padding: 0;
    text-align: center;
    color: var(--color2);
    font-style: italic;
    font-size: 14px;
}

/* Pagination */

.pagination{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 0;
    margin: 20px 0;
    border-radius: 0;
    border-bottom: solid 1px var(--color2);
    border-top: solid 1px var(--color2);
}

.content{
    margin: auto;
}

.page{
    margin: 0px 3px;
    padding: 4px;
    color: var(--color2);
    text-decoration: none;
    border: solid 1px var(--color2);
    border-radius: 10px;
    background: var(--block);
    font-size: 22px; 
}

.content > span{
    color: var(--color2);
}

.page:hover{
    text-decoration: none;
}

#pageCourante{
    color: var(--color2);
}

@media screen and (max-width: 600px){
    .block{
        margin: auto 20px;
        margin-top: 40px;
    }
    #coche{
        flex-flow: column;
    }
    #main{
        width: 100%;
    }
}