/* Main */

#infoge{
    display: grid;
    grid-template-rows: auto;
}

#partiedeux{
    margin-top: 15px;
    padding: 5px;
}

#avis{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column wrap;
}

/* Première partie des infos de l'item */

#partieinfo{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    margin: 15px auto;
    width: 40%;
    flex-direction: column;
    background: var(--block);
    border-radius: 5px;
    border: thick double var(--color2);
}

#description{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: wrap column;
    background: var(--block);
    border-radius: 5px;
    border: thick double var(--color2);
    padding: 10px;
    margin: 15px auto;
    width: 60%;
}

#modifier{
    margin: 5px auto;
}

#modifier > input{
    border: solid 1px var(--color2);
    border-radius: 5px;
    background: var(--color);
    color: var(--color2);
    font-size: 13px;
}

#image{
    margin: auto;
    border: solid 1px var(--color2);
    width: 210px;
}

#titre{
    text-align: center;
    margin: 10px auto;
    font-size: 23px;
    color: var(--color2);
}

#titre > span{
    font-size: 15px;
    font-style: italic;
}

#realisateur{
    color: var(--color2);
    text-align: center;
    margin: 2px auto;
    padding: 0;
    font-style: italic;
    font-size: 13px;
}

#datesortie{
    color: var(--color2);
    margin: 10px auto;
    text-align: center;
    padding: 0;
    font-size: 14px;
}

#categorie{
    margin: 0;
    margin-bottom: 15px;    
    text-align: left;
    padding: 0;
    font-style: italic;
    font-size: 18px;
    text-decoration: underline;
    color: var(--color2);
}

#syno{
    margin: 0;
    text-align: center;
    padding: 0;
    font-size: 20px;
    color: var(--color2);
}

#separate{
    margin-bottom: 20px;   
    text-align: center;
    padding: 0;
    color: var(--color2);
}

#texte{
    word-break: break-all;
    color: var(--color2);
    text-align: justify;
    margin: auto;
    font-size: 15px;
}

/* Partie notes */

.infos{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column wrap;
}

.moyenneetnb{
    margin: auto;
    padding: 4px;
    background: var(--color);
    color: var(--color2);
    border-radius: 5px;
    font-size: 20px;
    border: solid 2px var(--color2);
}

.ok{
    margin: 5px auto;
    padding: 0px;
    text-align: center;
    color: var(--color2);
    font-style: italic;
    font-size: 14px;
}

/* Stars */

.stars{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    margin: 5px auto;
    direction: rtl;
}

.star{
    background: url('/favicon.ico') no-repeat;
    background-size: 23px;
    width: 23px;
    cursor: pointer;
    border: none;
    filter: grayscale(1);
    margin: 2px;
}

.star:hover ~ .star,
.star:hover{
    filter: grayscale(0);
}

/* Menu non connecté */

#blocknoconnect{
    background: rgba(255, 255, 255, 0.6);
    margin: auto;
    border: thick double black;
    border-radius: 10px;
    padding: 10px;
}

.noconnect{
    margin: auto;
    text-align: center;
    color: orangered;
    font-style: italic;
    font-size: 16px;
}

/* Menu commentaire */

#poster{
    margin: auto;
    width: 40%;
}

#poster > form,
.divmodify{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: wrap column;
}

#commentaire{
    background: var(--block);
    text-align: center;
    border-radius: 10px;
    border: solid 1px var(--color2);
    margin-bottom: 5px;
    height: 120px;
    color: var(--color2);
}

#submit{
    background: var(--block);
    color: var(--color2);
    padding: 3px 10px;
    margin: 5px auto;
    border-radius: 10px;
    border: solid 1px var(--color2);
}

.message{
    margin: auto;
}

#message{
    text-align: center;
    color: orangered;
    font-size: 13px;
    font-style: italic;
    text-align: center;
    padding: 5px;
}

#message2{
    margin-top: 10px;
    text-align: center;
    color: green;
    font-size: 13px;
    font-style: italic;
    font-weight: bold;
    padding: 5px;
}

/* L'affichage des commentaires */

.blockcom{
    background: var(--block);
    border-radius: 5px;
    border: solid 2px var(--color2);
    margin: 15px auto;
    padding: 5px;
    width: 40%;
}

.divmodify{
    width: 15%;
}

.modify{
    border: solid 1px var(--color2);;
    padding: 0;
    font-size: 14px;
    background: var(--color);
    color: var(--color2);
}

.pseudo{
    margin: 0px;
    font-size: 14px;
    color: var(--color2);
}

.dateCreation{
    margin: 0px;
    font-size: 13px;
    font-style: italic;
    color: var(--color2);
}

.modif{
    margin: 0;
    margin-bottom: 7px;
    font-style: italic;
    font-size: 12px;
    color: var(--color2);
}

.textecom{
    font-size: 16px;
    margin-top: 7px;
    overflow-wrap: break-word;
    color: var(--color2);
}

/* Mobile version */

@media screen and (max-width: 1000px){
    #partieinfo{
        width: 90%;
    }
    .blockcom{
        width: 100%;
    }
    #poster{
        width: 100%;
    }
    #titre{
        font-size: 20px;
    }
    #realisateur{
        font-size: 16px;
    }
    #datesortie{
        font-size: 15px;
    }
    #description{
        width: 100%;
    }
    .divmodify{
        width: 30%;
    }
}