/* Le contenu principal avec les blocks */

#block{
    width: 40%;
    margin: auto;
    background: var(--block);
    padding: 20px 0;
    border-radius: 10px;
    border: thick double var(--color2);
}

.titre{
    margin: 5px auto;
    text-align: center;
    color: var(--color2);
}

#imgProfil{
    width: 75px;
    height: 75px;
}

.form{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column wrap;
}

.listeAuteur{
    margin: 10px auto;
}

tr{
    color: var(--color);
}

td, th{
    text-align: center;
    color: var(--color2);
}

.delete{
    background: red;
    color: red;
    border-radius: 100px;
    width: 30px;
}

.case{
    width: 60%;
    text-align: center;
    margin: 15px auto;
    padding: 4px;
    border-radius: 10px;
    border: solid 1px var(--color2);
    background: var(--color);
    color: var(--color2);
}

.textarea{
    text-align: center;
    margin: 15px auto;
    padding: 5px;
    border-radius: 10px;
    height: 120px;
    width: 80%;
    border: solid 1px var(--color2);
    background: var(--color);
    color: var(--color2);
}

#label_logo{
    margin: 5px auto;
    font-weight: bold;
    color: var(--color2);
    text-align: center;
}

#file{
    color: var(--color2);
}

.select{
    margin: 10px auto;
    color: black;
}

.date{
    text-align: center;
    margin: 10px auto;
    border-radius: 10px;
    border: solid 1px var(--color2);
    background: var(--color);
    color: var(--color2);
}

.submit{
    width: auto;
    margin: 10px auto;
    background: var(--color);
    color: var(--color2);
    border: solid 1px var(--color2);
    border-radius: 10px;
}

#message{
    margin-top: 10px;
    text-align: center;
    color: orangered;
    font-size: 13px;
    font-style: italic;
}

#message1, #message2{
    margin-top: 10px;
    text-align: center;
    color: green;
    font-size: 13px;
    font-style: italic;
}

@media screen and (max-width: 1100px){
    #block{
        width: 100%;
    }
    .select{
        width: 60%;
    }
}

