/* Main */

#commentaire{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    width: 40%;
}

#form{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: wrap column;
}

#texte{
    background: var(--block);
    color: var(--color2);
    margin-bottom: 15px;
    text-align: center;
    border-radius: 10px;
    border: solid 1px var(--color2);
    font-weight: bold;
    height: 120px;
}

#submit{
    background: var(--color);
    color: var(--color2);
    padding: 3px 10px;
    margin: 5px auto;
    border-radius: 10px;
    border: solid 1px var(--color2);
}

#message{
    margin: 10px auto;
    text-align: center;
    color: orangered;
    font-size: 13px;
    font-style: italic;
    padding: 5px;
}

#message1{
    margin: 10px auto;
    text-align: center;
    color: green;
    font-size: 13px;
    font-style: italic;
    font-weight: bold;
    padding: 5px;
}

@media screen and (max-width: 800px){
    #commentaire{
        width: 100%;
    }
}
