/* Main */

#block{
    margin: auto;
}

h1{
    margin: 10px;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    border: solid 2px var(--color2);
    color: var(--color2);
}

#form{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    background: var(--block);
    padding: 20px;
    margin: 10px auto;
    border-radius: 5px;
    border: solid 2px var(--color2);
}

.case{
    width: 70%;
    margin: 10px auto;
    border-radius: 10px;
    border: solid 1px var(--color2);
    padding: 4px;
    background: var(--color);
    color: var(--color2);
}

.tips{
    font-size: 14px;
    color: var(--color2);
    font-style: italic;
    text-align: center;
}

#captcha{
    margin: 10px auto;
}

#submit{
    width: auto;
    margin: 10px auto;
    background: var(--color);
    color: var(--color2);
    border: solid 1px var(--color2);
    border-radius: 10px;
}

#message{
    text-align: center;
    font-style: italic;
    color: orangered;
    font-size: 14px;
}

.option{
    text-align: center;
    font-style: italic;
    font-size: 15px;
}

@media screen and (max-width: 1000px){
    #form{
        width: 100%;
    }
}