/* Main */

#block{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: wrap column;
    margin: auto;
    padding: 10px;
    width: 50%;
    background: var(--block);
    border-radius: 10px;
    border: solid 1px var(--color2);
}

#titre{
    margin: auto;
}

h1{
    text-align: center;
    color: var(--color2);
    font-weight: bold;
    margin: 10px 0;
}

#information{
    margin: auto;
}

#texte{
    color: var(--color2);
    text-align: center;
    font-size: 17px;
    font-style: italic;
}

/* Pas pour 404 */

#form{
    width: 100%;
    margin: auto;
}

#form > form{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    width: 60%;
}

.case{
    background: var(--block);
    text-align: center;
    margin: 15px auto;
    padding: 4px;
    border-radius: 10px;
    border: solid 1px var(--color2);
    color: var(--color2);
    width: 100%;
}

#submit{
    margin: 10px auto;
    background: var(--color);
    color: var(--color2);
    border: solid 1px var(--color2);
    border-radius: 10px;
}

#message{
    margin-top: 10px;
    text-align: center;
    color: orangered;
    font-size: 13px;
    font-style: italic;
}

#message1{
    margin-top: 10px;
    text-align: center;
    color: green;
    font-size: 13px;
    font-style: italic;
    font-weight: bold;
}

@media screen and (max-width: 900px){
    #block{
        width: 100%;
    }
}